<div>
  <h2 id="page-heading" data-cy="IssuePriorityHeading">
    <span microappTranslate="issueServerApp.issueServerIssuePriority.home.title">Issue Priorities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span microappTranslate="issueServerApp.issueServerIssuePriority.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-issue-priority"
        [routerLink]="['/issueserver/issue-priority/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span microappTranslate="issueServerApp.issueServerIssuePriority.home.createLabel"> Create a new Issue Priority </span>
      </button>
    </div>
  </h2>

  <microapp-alert-error></microapp-alert-error>

  <microapp-alert></microapp-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="issuePriorities?.length === 0">
    <span microappTranslate="issueServerApp.issueServerIssuePriority.home.notFound">No Issue Priorities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="issuePriorities && issuePriorities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr microappSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" microappSortBy="id">
            <div class="d-flex">
              <span microappTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issuePriority">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssuePriority.issuePriority">Issue Priority</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issuePriorityLevel">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssuePriority.issuePriorityLevel">Issue Priority Level</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issuePriority of issuePriorities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/issueserver/issue-priority', issuePriority.id, 'view']">{{ issuePriority.id }}</a>
          </td>
          <td>{{ issuePriority.issuePriority }}</td>
          <td>{{ issuePriority.issuePriorityLevel }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/issueserver/issue-priority', issuePriority.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/issueserver/issue-priority', issuePriority.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(issuePriority)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
