<div>
  <h2 id="page-heading" data-cy="IssueEmployeeHeading">
    <span microappTranslate="issueServerApp.issueServerIssueEmployee.home.title">Issue Employees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span microappTranslate="issueServerApp.issueServerIssueEmployee.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-issue-employee"
        [routerLink]="['/issueserver/issue-employee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span microappTranslate="issueServerApp.issueServerIssueEmployee.home.createLabel"> Create a new Issue Employee </span>
      </button>
    </div>
  </h2>

  <microapp-alert-error></microapp-alert-error>

  <microapp-alert></microapp-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="issueEmployees?.length === 0">
    <span microappTranslate="issueServerApp.issueServerIssueEmployee.home.notFound">No Issue Employees found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="issueEmployees && issueEmployees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr microappSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" microappSortBy="id">
            <div class="d-flex">
              <span microappTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="username">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.username">Username</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="firstName">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.firstName">First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="lastName">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="displayName">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.displayName">Display Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issueDepartment">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.issueDepartment">Issue Department</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="defaultIssueRoleKey">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.defaultIssueRoleKey">Default Issue Role Key</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="defaultDisplayedIssueRole">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.defaultDisplayedIssueRole"
                >Default Displayed Issue Role</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="isAvailable">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.isAvailable">Is Available</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="inOfficeFrom">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.inOfficeFrom">In Office From</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="officeHourFrom">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.officeHourFrom">Office Hour From</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="officeHourTo">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.officeHourTo">Office Hour To</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="timezone">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.timezone">Timezone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="created">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="modified">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.modified">Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="deleted">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueEmployee.deleted">Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issueEmployee of issueEmployees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/issueserver/issue-employee', issueEmployee.id, 'view']">{{ issueEmployee.id }}</a>
          </td>
          <td>{{ issueEmployee.username }}</td>
          <td>{{ issueEmployee.firstName }}</td>
          <td>{{ issueEmployee.lastName }}</td>
          <td>{{ issueEmployee.displayName }}</td>
          <td>{{ issueEmployee.issueDepartment }}</td>
          <td>{{ issueEmployee.defaultIssueRoleKey }}</td>
          <td>{{ issueEmployee.defaultDisplayedIssueRole }}</td>
          <td>{{ issueEmployee.isAvailable }}</td>
          <td>{{ issueEmployee.inOfficeFrom | formatMediumDatetime }}</td>
          <td>{{ issueEmployee.officeHourFrom | formatMediumDatetime }}</td>
          <td>{{ issueEmployee.officeHourTo | formatMediumDatetime }}</td>
          <td>{{ issueEmployee.timezone }}</td>
          <td>{{ issueEmployee.created | formatMediumDatetime }}</td>
          <td>{{ issueEmployee.modified | formatMediumDatetime }}</td>
          <td>{{ issueEmployee.deleted | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/issueserver/issue-employee', issueEmployee.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/issueserver/issue-employee', issueEmployee.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(issueEmployee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="issueEmployees && issueEmployees.length > 0">
    <div class="d-flex justify-content-center">
      <microapp-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></microapp-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
