<div>
  <h2 id="page-heading" data-cy="IssueHeading">
    <span microappTranslate="issueServerApp.issueServerIssue.home.title">Issues</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span microappTranslate="issueServerApp.issueServerIssue.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-issue"
        [routerLink]="['/issueserver/issue/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span microappTranslate="issueServerApp.issueServerIssue.home.createLabel"> Create a new Issue </span>
      </button>
    </div>
  </h2>

  <microapp-alert-error></microapp-alert-error>

  <microapp-alert></microapp-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="issues?.length === 0">
    <span microappTranslate="issueServerApp.issueServerIssue.home.notFound">No Issues found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="issues && issues.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr microappSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" microappSortBy="id">
            <div class="d-flex">
              <span microappTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="username">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.username">Username</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="firstName">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.firstName">First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="lastName">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="displayedUsername">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.displayedUsername">Displayed Username</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issueTitle">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.issueTitle">Issue Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issueContent">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.issueContent">Issue Content</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issueTypeKey">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.issueTypeKey">Issue Type Key</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issueWorkflowStatus">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.issueWorkflowStatus">Issue Workflow Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issueWorkflowStatusKey">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.issueWorkflowStatusKey">Issue Workflow Status Key</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issuePriorityLevel">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.issuePriorityLevel">Issue Priority Level</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issueUuid">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.issueUuid">Issue Uuid</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="created">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="modified">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.modified">Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="deleted">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.deleted">Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="closed">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssue.closed">Closed</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issue of issues; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/issueserver/issue', issue.id, 'view']">{{ issue.id }}</a>
          </td>
          <td>{{ issue.username }}</td>
          <td>{{ issue.firstName }}</td>
          <td>{{ issue.lastName }}</td>
          <td>{{ issue.displayedUsername }}</td>
          <td>{{ issue.issueTitle }}</td>
          <td>{{ issue.issueContent }}</td>
          <td>{{ issue.issueTypeKey }}</td>
          <td>{{ issue.issueWorkflowStatus }}</td>
          <td>{{ issue.issueWorkflowStatusKey }}</td>
          <td>{{ issue.issuePriorityLevel }}</td>
          <td>{{ issue.issueUuid }}</td>
          <td>{{ issue.created | formatMediumDatetime }}</td>
          <td>{{ issue.modified | formatMediumDatetime }}</td>
          <td>{{ issue.deleted | formatMediumDatetime }}</td>
          <td>{{ issue.closed | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/issueserver/issue', issue.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/issueserver/issue', issue.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(issue)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="issues && issues.length > 0">
    <div class="d-flex justify-content-center">
      <microapp-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></microapp-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
