<div>
  <h2 id="page-heading" data-cy="IssueTypeHeading">
    <span microappTranslate="issueServerApp.issueServerIssueType.home.title">Issue Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span microappTranslate="issueServerApp.issueServerIssueType.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-issue-type"
        [routerLink]="['/issueserver/issue-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span microappTranslate="issueServerApp.issueServerIssueType.home.createLabel"> Create a new Issue Type </span>
      </button>
    </div>
  </h2>

  <microapp-alert-error></microapp-alert-error>

  <microapp-alert></microapp-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="issueTypes?.length === 0">
    <span microappTranslate="issueServerApp.issueServerIssueType.home.notFound">No Issue Types found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="issueTypes && issueTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr microappSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" microappSortBy="id">
            <div class="d-flex">
              <span microappTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issueTypeKey">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueType.issueTypeKey">Issue Type Key</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issueTypeWeight">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueType.issueTypeWeight">Issue Type Weight</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="issueType">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueType.issueType">Issue Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" microappSortBy="isActive">
            <div class="d-flex">
              <span microappTranslate="issueServerApp.issueServerIssueType.isActive">Is Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let issueType of issueTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/issueserver/issue-type', issueType.id, 'view']">{{ issueType.id }}</a>
          </td>
          <td>{{ issueType.issueTypeKey }}</td>
          <td>{{ issueType.issueTypeWeight }}</td>
          <td>{{ issueType.issueType }}</td>
          <td>{{ issueType.isActive }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/issueserver/issue-type', issueType.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/issueserver/issue-type', issueType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(issueType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" microappTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
