<div class="d-flex justify-content-center">
  <div class="col-8">
    <form
      *ngIf="editForm.controls.issueTypeKey.value; else invalidType"
      name="editForm"
      role="form"
      novalidate
      (ngSubmit)="save()"
      [formGroup]="editForm"
    >
      <h2 id="microapp-issue-heading" data-cy="IssueCreateUpdateHeading">
        <div *ngIf="editForm.controls.id.value; else editIssue">Update {{ issueType }}</div>
        <ng-template #editIssue> New {{ issueType }} </ng-template>
      </h2>

      <div>
        <microapp-alert-error></microapp-alert-error>
        <div class="row mb-3">
          <input
            pInputText
            type="text"
            class="form-control"
            name="issueTitle"
            id="field_issueTitle"
            data-cy="issueTitle"
            formControlName="issueTitle"
            placeholder="Title"
          />

          <div *ngIf="editForm.get('issueTitle')!.invalid && (editForm.get('issueTitle')!.dirty || editForm.get('issueTitle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('issueTitle')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('issueTitle')?.errors?.minlength"
              microappTranslate="entity.validation.minlength"
              [translateValues]="{ min: 2 }"
            >
              This field is required to be at least 2 characters.
            </small>
          </div>
          <p-editor
            class="form-control"
            name="issueContent"
            id="field_issueContenft"
            data-cy="issueContent"
            formControlName="issueContent"
            [style]="{ height: '320px' }"
            placeholder="Leave a comment"
          ></p-editor>

          <div
            *ngIf="editForm.get('issueContent')!.invalid && (editForm.get('issueContent')!.dirty || editForm.get('issueContent')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('issueContent')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span microappTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span microappTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
    <ng-template #invalidType>
      <h2>Create New Issue</h2>

      <div *ngFor="let type of issueTypes">
        <a [routerLink]="" (click)="assignType(type)">{{ type.issueType }}</a>
      </div>
    </ng-template>
  </div>
</div>
