<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="microapp-issue-assignment-heading"
        data-cy="IssueAssignmentCreateUpdateHeading"
        microappTranslate="issueServerApp.issueServerIssueAssignment.home.createOrEditLabel"
      >
        Create or edit a Issue Assignment
      </h2>

      <div>
        <microapp-alert-error></microapp-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" microappTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" microappTranslate="issueServerApp.issueServerIssueAssignment.issueId" for="field_issueId"
            >Issue Id</label
          >
          <input type="number" class="form-control" name="issueId" id="field_issueId" data-cy="issueId" formControlName="issueId" />
          <div *ngIf="editForm.get('issueId')!.invalid && (editForm.get('issueId')!.dirty || editForm.get('issueId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('issueId')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('issueId')?.errors?.number"
              microappTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" microappTranslate="issueServerApp.issueServerIssueAssignment.issueUuid" for="field_issueUuid"
            >Issue Uuid</label
          >
          <input type="text" class="form-control" name="issueUuid" id="field_issueUuid" data-cy="issueUuid" formControlName="issueUuid" />
          <div *ngIf="editForm.get('issueUuid')!.invalid && (editForm.get('issueUuid')!.dirty || editForm.get('issueUuid')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('issueUuid')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" microappTranslate="issueServerApp.issueServerIssueAssignment.username" for="field_username"
            >Username</label
          >
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
          <div *ngIf="editForm.get('username')!.invalid && (editForm.get('username')!.dirty || editForm.get('username')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('username')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            microappTranslate="issueServerApp.issueServerIssueAssignment.issueAssignmentDisplayedUsername"
            for="field_issueAssignmentDisplayedUsername"
            >Issue Assignment Displayed Username</label
          >
          <input
            type="text"
            class="form-control"
            name="issueAssignmentDisplayedUsername"
            id="field_issueAssignmentDisplayedUsername"
            data-cy="issueAssignmentDisplayedUsername"
            formControlName="issueAssignmentDisplayedUsername"
          />
          <div
            *ngIf="
              editForm.get('issueAssignmentDisplayedUsername')!.invalid &&
              (editForm.get('issueAssignmentDisplayedUsername')!.dirty || editForm.get('issueAssignmentDisplayedUsername')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('issueAssignmentDisplayedUsername')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" microappTranslate="issueServerApp.issueServerIssueAssignment.issueRole" for="field_issueRole"
            >Issue Role</label
          >
          <input type="text" class="form-control" name="issueRole" id="field_issueRole" data-cy="issueRole" formControlName="issueRole" />
          <div *ngIf="editForm.get('issueRole')!.invalid && (editForm.get('issueRole')!.dirty || editForm.get('issueRole')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('issueRole')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            microappTranslate="issueServerApp.issueServerIssueAssignment.displayedIssueRole"
            for="field_displayedIssueRole"
            >Displayed Issue Role</label
          >
          <input
            type="text"
            class="form-control"
            name="displayedIssueRole"
            id="field_displayedIssueRole"
            data-cy="displayedIssueRole"
            formControlName="displayedIssueRole"
          />
          <div
            *ngIf="
              editForm.get('displayedIssueRole')!.invalid &&
              (editForm.get('displayedIssueRole')!.dirty || editForm.get('displayedIssueRole')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('displayedIssueRole')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" microappTranslate="issueServerApp.issueServerIssueAssignment.created" for="field_created"
            >Created</label
          >
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('created')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('created')?.errors?.datetimelocal"
              microappTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" microappTranslate="issueServerApp.issueServerIssueAssignment.modified" for="field_modified"
            >Modified</label
          >
          <div class="d-flex">
            <input
              id="field_modified"
              data-cy="modified"
              type="datetime-local"
              class="form-control"
              name="modified"
              formControlName="modified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('modified')!.invalid && (editForm.get('modified')!.dirty || editForm.get('modified')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('modified')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('modified')?.errors?.datetimelocal"
              microappTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" microappTranslate="issueServerApp.issueServerIssueAssignment.accepted" for="field_accepted"
            >Accepted</label
          >
          <div class="d-flex">
            <input
              id="field_accepted"
              data-cy="accepted"
              type="datetime-local"
              class="form-control"
              name="accepted"
              formControlName="accepted"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" microappTranslate="issueServerApp.issueServerIssueAssignment.deleted" for="field_deleted"
            >Deleted</label
          >
          <div class="d-flex">
            <input
              id="field_deleted"
              data-cy="deleted"
              type="datetime-local"
              class="form-control"
              name="deleted"
              formControlName="deleted"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span microappTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span microappTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
