<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="microapp-issue-type-heading"
        data-cy="IssueTypeCreateUpdateHeading"
        microappTranslate="issueServerApp.issueServerIssueType.home.createOrEditLabel"
      >
        Create or edit a Issue Type
      </h2>

      <div>
        <microapp-alert-error></microapp-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" microappTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" microappTranslate="issueServerApp.issueServerIssueType.issueTypeKey" for="field_issueTypeKey"
            >Issue Type Key</label
          >
          <input
            type="text"
            class="form-control"
            name="issueTypeKey"
            id="field_issueTypeKey"
            data-cy="issueTypeKey"
            formControlName="issueTypeKey"
          />
          <div
            *ngIf="editForm.get('issueTypeKey')!.invalid && (editForm.get('issueTypeKey')!.dirty || editForm.get('issueTypeKey')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('issueTypeKey')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" microappTranslate="issueServerApp.issueServerIssueType.issueType" for="field_issueType"
            >Issue Type</label
          >
          <input type="text" class="form-control" name="issueType" id="field_issueType" data-cy="issueType" formControlName="issueType" />
          <div *ngIf="editForm.get('issueType')!.invalid && (editForm.get('issueType')!.dirty || editForm.get('issueType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('issueType')?.errors?.required"
              microappTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span microappTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span microappTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
