<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="issueRole">
      <h2 data-cy="issueRoleDetailsHeading">
        <span microappTranslate="issueServerApp.issueServerIssueRole.detail.title">Issue Role</span>
      </h2>

      <hr />

      <microapp-alert-error></microapp-alert-error>

      <microapp-alert></microapp-alert>

      <dl class="row-md jh-entity-details">
        <dt><span microappTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ issueRole.id }}</span>
        </dd>
        <dt><span microappTranslate="issueServerApp.issueServerIssueRole.issueRoleKey">Issue Role Key</span></dt>
        <dd>
          <span>{{ issueRole.issueRoleKey }}</span>
        </dd>
        <dt><span microappTranslate="issueServerApp.issueServerIssueRole.issueRole">Issue Role</span></dt>
        <dd>
          <span>{{ issueRole.issueRole }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span microappTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/issueserver/issue-role', issueRole.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span microappTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
